/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v26-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v26-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --main-color: #037e8c;
  --bg-main: #fff;
  --text-main: #121214;
  --text-secondary: #393939;
  --text-tertiary: #fff;
  --bottom-text: #787878;
  font-size: 62.5%;
  font-family: "Montserrat", "sans-serif";
}
h1 {
    color: var(--bg-main);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.4rem;
}
.section-1>p {
    color: var(--bg-main);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20.8rem;
}
.section-1>button{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 15.2rem;
}
.div-1>h3{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
}
.div-1>p {
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.92rem;
}
.div-2>h3{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
}
.div-2>p{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.92rem;
}
.div-3>h3{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
}
.div-3>p{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.92rem;
}
.div-4>h3{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
}
.div-4>p{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.92rem;
}
.div-4>h3{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
    
}
.div-4>p{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.92rem;
    
}
.s3h2-1{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.12rem;
}
.s3h3-1{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.6rem;
}
.rbp-1{
    color: var(--text-main);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.96rem;
}
.rbp-2{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
}
.rbp-21{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rbp-3{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rbp-31{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rbp-4{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rbp-41{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rbp-5{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.08rem;
    
}
.rbp-6{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    
}
.rbb-1{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.rbb-2{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.s3h3-2{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.61rem;
}
.rep-1{
    color: var(--text-main);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.96rem;
}
.rep-2{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
}
.rep-21{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rep-3{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rep-31{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rep-4{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rep-41{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rep-5{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.08rem;
    
}
.rep-6{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    
}
.reb-1{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.reb-2{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.s3h3-3{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.61rem;
}
.rop-1{
    color: var(--text-main);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.96rem;
}
.rop-2{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
}
.rop-21{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rop-3{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rop-31{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rop-4{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.52rem;
    
}
.rop-41{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.52rem;
    
}
.rop-5{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.08rem;
    
}
.rop-6{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    
}
.rob-1{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.rob-2{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.section-4>h2{
    color: var(--bg-main);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.82rem;
}
.section-4>p{
    color: var(--bg-main);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.82rem;
}
.section-4>button{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.tmt{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.34rem;
}
.tlt{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.82rem;
}
.sec6-p{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.68rem;
}
.sec6-pb1{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.68rem;
}
.s7-spb{
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 3.336rem;
}
.s7-spn{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.336rem;
}
.s7-spl{
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.2rem;
}
.section-7>button{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.section-7>h2{
    color: var(--text-secondary);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.12rem;
}
.section-8>h2{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.12rem;
}
.s8-p1{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.08rem;
}
.s8-p2{
    color: var(--text-main);
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.9rem;
}
.s8-p3{
    color: var(--bg-main);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.232rem;
}
.s8-p4{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.82rem;
}
.s8-p5{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.section-8>button{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.section-9>h2{
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
}
.s9s{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 600;
}
.s9p{
    color: var(--text-secondary);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}
.s9-pq{
    color: var(--text-main);
    font-size: 2rem;
    font-weight: 600;
}
.s9-p1{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 400;
}
.section-9>button{
    color: var(--bg-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.82rem;
}
.footer>h2{
    color: var(--text-main);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.37rem;
}
.footp{
    color: var(--text-main);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.987rem;
}
.writeus{
    color: var(--text-main);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.722rem;
}
.foota{
    color: var(--text-main);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.24rem;
}
.lastp{
    color: var(--bottom-text);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.52rem;
}









